* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(rgb(201, 142, 33), rgb(204, 119, 22) );
    color: white;
    display: grid;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.navbar nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
    font-style: bold
}

.img {
    display: flex;
    padding: 40px 60px;
    gap: 40px;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 20px;
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.content {
    width: 600px;
    padding-left: 100px;
    align-items: center;
}

.tag {
    font-size: 14px;
    margin-bottom: 10px;
}

.content h1 {
    font-size: 52px;
    line-height: 1;
    margin-bottom: 20px;
}

.text {
    font-size: 14px;
    margin-bottom: 25px;
}

button {
    padding: 12px 30px;
    border: 1px solid white;
    background: rgb(126, 120, 111);
    color: white;
    cursor: pointer;
}

@media (max-width: 768px){

    .img{
        flex-direction: column;
    }

    .images{
        grid-template-columns: 1fr;
    }

    .content{
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px){

    .img{
        flex-direction: column;
    }

    .content{
        width: 100%;
    }
}